body {
    background-color: rgb(40,44,53);
    margin: 0;
}

#logo {
    padding-top: 10;
    padding-left: 30;
    margin-bottom: -70;
}

ul {
    
    list-style-type: none;
    position: absolute;
    left: 75%;     
    margin-right: 2px;
    margin-top: 0px;
    list-style-type: none;
       
    }  


li {
    float: left;
    font-family: 'Poiret One', cursive;
    font-size: 30;
;

}

li a {
    display: block;
    color: bisque;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: -10px;
    text-decoration: none;
    }

li a:hover {
    background-color: rgb(6, 77, 33);
    margin: -5px;
    padding: 15px;
    }

#topimg {
    position: absolute;
    z-index: -1;
}

    #name {
        position: relative;
        font-family: 'Cabin Sketch', cursive;
        font-size: 88px;
        color: rgb(255, 244, 231);
        text-align: center;
        z-index: 1;
    }

.contactform {
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    color: bisque;

}

input {
    width: 350px;
    background-color: bisque;
    margin-bottom: 10;
    
}

#send {
    width: 75px;
    font-family: 'Poiret One', cursive;
    background-color: bisque;
    border: 2px solid rgb(6, 77, 33);
    color: rgb(6, 77, 33);
    font-weight: bolder;
    font-size: 18;
}
#message{
    background-color: bisque;
}
#send:hover {
    background-color: rgb(6, 77, 33);
    color: bisque;
}




















.bottom {
   
    margin-left: 50%;
    margin-top: 3%;
    margin-bottom: 5%;
    font-family: 'Poiret One', cursive;
    font-size: 22;
    border-spacing: 50px 0;
    color: bisque;
    
}

th {
    text-align: left;
    font-weight: bolder;
    font-size: 35;
    color: rgb(255, 176, 83);
}

td {
    font-weight: bold;
}




#logobottom {
    padding-top: 2%;
    padding-left: 25%;
    margin-bottom: -10%;
}